/* Genel stiller */
body {
  padding-top: 70px; /* Navbar'ın üzerindeki kısmı kaplaması için */
}

.logo {
  max-width: 100px;
  float: left; /* Logo'yu sola yasla */
}

.navbar {
  float: right; /* Navigasyon menüsünü sağa yasla */
}

.navbar .nav-link {
  text-align: left;
}

/* Galeri stilleri */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Grid sütunlarını otomatik olarak ayarla */
  gap: 20px;
}

.gallery-item {
  border: 2px solid #000;
}

.image-frame,
.info-frame {
  padding: 10px;
  height: 100%; /* Yüksekliği 100% olarak ayarla */
}

.image-frame img {
  width: 100%;
  height: 100%; /* Resim yüksekliğini %100 olarak ayarla */
}

.bird-name,
.bird-info {
  text-align: center;
  margin: 0; /* İsim ve bilgi metinlerinin kenar boşluklarını kaldır */
}

/* Dark tema stil tanımları */
.dark-theme {
  background-color: #333;
  color: #fff;
}

.dark-theme header,
.dark-theme footer {
  background-color: #222;
}

.dark-theme .navbar .nav-link {
  color: #fff;
}

.dark-theme .gallery-item {
  border-color: #fff;
}

/* Resimlerin üzerine gelindiğinde parlaklık efekti */
.image-frame img {
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease-in-out; /* Parlaklık efekti için geçiş süresi tanımla */
}

.image-frame img:hover {
  filter: brightness(150%); /* Resmin parlaklığını artır */
}
